/* ----------------------------------------------------
Project: Harson-Admin-panel
Author: DCPL Technology Private Limited
-------------------------------------------------------- */
.sidebar {
    border-right: 1px solid var(--border-primary);
    border-radius: 16px;
    padding: 24px 12px;
    background-color: var(--white);
    height: 100%;
overflow: auto;
    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 36px;
        margin-bottom: 30px;

        img {
            display: block;
            object-fit: cover;
            height: 100%;
            object-position: center;
        }
    }

    .nav {
        gap: 10px;

        .nav-item {
            padding: 12px 10px;
            text-decoration: none;
            border-radius: 8px;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 16px;
                height: 16px;
            }

            .text {
                font-size: var(--fs-14);
                line-height: var(--lh-18);
                color: var(--text-primary);


            }

            &:hover {
                background-color: var(--white-200);

                .text {
                    color: var(--text-primary)
                }
            }
        }

        .active {
            background-color: var(--primary) !important;

            .text {
                color: var(--white) !important;
            }

            .icon {
                svg {
                    path {
                        stroke: var(--white);
                    }
                }
            }
        }
    }
}