/* ----------------------------------------------------
Project: Harson-Template
Author:DCPL Technology Private Limited
-------------------------------------------------------- */
.comman-btn.btn {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 6px !important;

    .btn-text {
        font-size: var(--fs-14) !important;
        line-height: var(--lh-18) !important;
    }

    .btn-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
    }
   
}

.comman-btn {}

.comman-btn.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);

    .btn-text {
        color: var(--white);
    }

    &:hover {}

}

.comman-btn.btn-outline-primary {
    border-color: var(--border-primary);
    opacity: 1;

    .btn-text {
        color: var(--text-secondary);
    }

    &:hover {
        border-color: var(--text-secondary);
        background-color: transparent;

        .btn-text {
            color: var(--primary);
        }
    }
    &:active{
        background-color: var(--white) !important;
        border-color: var(--primary) !important;
    }
}
.comman-btn.btn-danger {
    background-color: var(--red-100);
     border: none;
      span {
        color: var(--red);
    }
    .btn-icon {
      
    }
}



.comman-btn.btn-secondary {
    background-color: var(--primary-200);
     border: none;

    .btn-text {
        color: var(--primary);
    }

    &:hover {
        background-color: var(--primary);
        .btn-text{
            color: var(--white);
        }
        .btn-icon{
svg{
    path{
        stroke: var(--white);
    }
}
        }
    }

}